#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../img/modal_close.png); z-index: 2; }

#wooc_modal {
width: 600px;
padding: 30px;
display: none;
background: #FFF;
/*border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);*/
}
#wooc_modal h3{margin:0px;}
#wooc_modal ul{margin:0px;}
#wooc_modal li{list-style:none; color:#333;}
#wooc_modal li a:before{ 
	content: "\f132";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	line-height: 26px;
	vertical-align: middle;
}
#wooc_modal li a.selected:before{ content: "\f147"; font: normal 20px/1 'dashicons';line-height: 26px;}
#wooc_modal li a.selected:hover:before{ content: "\f460";font: normal 20px/1 'dashicons';line-height: 26px;}

#wooc_modal li a.not-selected:before{ content:'\f460';font: normal 20px/1 'dashicons';line-height: 26px;}
#wooc_modal li a.not-selected:hover:before{ content:'\f147';font: normal 20px/1 'dashicons';line-height: 26px;}

.woo-collection-slideshow{
	float: left;
	margin: 0px 0px 10px 0px!important;
	list-style: none;
	width: 33.33%;
	text-align: center;
}
.woo-collection-slideshow:after {
  content: "";
  display: table;
  clear: both;
}
.woo-collection-slideshow a.wooc-item {
    padding: 10px;
    display: block;
}
.woo-collection-slideshow{
	text-align: center;
}
.woo-collection-title {
    text-align: left;
}
.wooc_error{font-style:italic; padding-left:10px; font-size:90%;}
